[submodule "upstream/eslint-plugin-simple-import-sort"]
	path = upstream/eslint-plugin-simple-import-sort
	url = https://github.com/lydell/eslint-plugin-simple-import-sort
	shallow = true
[submodule "upstream/eslint-plugin-eslint-comments"]
	path = upstream/eslint-plugin-eslint-comments
	url = https://github.com/eslint-community/eslint-plugin-eslint-comments
	shallow = true
[submodule "upstream/eslint-plugin-functional"]
	path = upstream/eslint-plugin-functional
	url = https://github.com/eslint-functional/eslint-plugin-functional
	shallow = true
[submodule "upstream/eslint-plugin-regexp"]
	path = upstream/eslint-plugin-regexp
	url = https://github.com/ota-meshi/eslint-plugin-regexp
	shallow = true
[submodule "upstream/eslint-plugin-security"]
	path = upstream/eslint-plugin-security
	url = https://github.com/eslint-community/eslint-plugin-security
	shallow = true
[submodule "upstream/eslint-plugin-postgresql"]
	path = upstream/eslint-plugin-postgresql
	url = https://github.com/baseballyama/eslint-plugin-postgresql
	shallow = true
[submodule "upstream/postgresql-eslint-parser"]
	path = upstream/postgresql-eslint-parser
	url = https://github.com/baseballyama/postgresql-eslint-parser
	shallow = true
[submodule "upstream/eslint-json"]
	path = upstream/eslint-json
	url = https://github.com/eslint/json
	shallow = true
[submodule "upstream/eslint-markdown"]
	path = upstream/eslint-markdown
	url = https://github.com/eslint/markdown
	shallow = true
[submodule "upstream/storybook"]
	path = upstream/storybook
	url = https://github.com/storybookjs/storybook
	shallow = true
[submodule "upstream/unocss"]
	path = upstream/unocss
	url = https://github.com/unocss/unocss
	shallow = true
[submodule "upstream/SonarJS"]
	path = upstream/SonarJS
	url = https://github.com/SonarSource/SonarJS
	shallow = true
[submodule "upstream/eslint-plugin-unused-imports"]
	path = upstream/eslint-plugin-unused-imports
	url = https://github.com/sweepline/eslint-plugin-unused-imports
	shallow = true
[submodule "upstream/eslint-plugin-testing-library"]
	path = upstream/eslint-plugin-testing-library
	url = https://github.com/testing-library/eslint-plugin-testing-library
	shallow = true
[submodule "upstream/eslint-plugin-perfectionist"]
	path = upstream/eslint-plugin-perfectionist
	url = https://github.com/azat-io/eslint-plugin-perfectionist
	shallow = true
[submodule "upstream/eslint-plugin-cypress"]
	path = upstream/eslint-plugin-cypress
	url = https://github.com/cypress-io/eslint-plugin-cypress
	shallow = true
[submodule "upstream/eslint-plugin-playwright"]
	path = upstream/eslint-plugin-playwright
	url = https://github.com/mskelton/eslint-plugin-playwright
	shallow = true
[submodule "upstream/angular-eslint"]
	path = upstream/angular-eslint
	url = https://github.com/angular-eslint/angular-eslint
	shallow = true
[submodule "upstream/typescript-eslint"]
	path = upstream/typescript-eslint
	url = https://github.com/typescript-eslint/typescript-eslint
	shallow = true
[submodule "upstream/eslint-plugin-react"]
	path = upstream/eslint-plugin-react
	url = https://github.com/jsx-eslint/eslint-plugin-react
	shallow = true
[submodule "upstream/react"]
	path = upstream/react
	url = https://github.com/facebook/react
	shallow = true
[submodule "upstream/eslint-stylistic"]
	path = upstream/eslint-stylistic
	url = https://github.com/eslint-stylistic/eslint-stylistic
	shallow = true
[submodule "upstream/eslint-plugin-e18e"]
	path = upstream/eslint-plugin-e18e
	url = https://github.com/e18e/eslint-plugin
	shallow = true
[submodule "upstream/eslint-plugin-mocha"]
	path = upstream/eslint-plugin-mocha
	url = https://github.com/lo1tuma/eslint-plugin-mocha
	shallow = true
[submodule "upstream/eslint-plugin-astro"]
	path = upstream/eslint-plugin-astro
	url = https://github.com/ota-meshi/eslint-plugin-astro
	shallow = true
